<body>
<div>
    <h4 style="width:90%;text-align:center;margin-top:2%;font-size:130%;font-weight:bold;margin-left:4%">
        If u have any feedbacks, queries and wanted to get in touch with hospitant, then feel free to just send message filling following forms
    </h4>
</div>
<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="margin-left:15%;margin-top:2%">
    <form action="/contact-us" method="post">
            <div class="form-group">
                <label>Your full name</label>
                <input type="text" class="form-control"  placeholder="Enter your full name" name="contact_username" required>
            </div>
            <div class="form-group">
                <label>Enter your valid email</label>
                <input type="email" class="form-control"  placeholder="Enter your valid email address" name="contact_email" required>
            </div>
            <div class="form-group">
                <label>Enter your Message</label>
                <textarea class="form-control" rows="5" placeholder="Your Message here.." name='contact_message'></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary active" style="border-radius:0%;margin-top:3%">Send Message</button>
    </form>
</div>
</body>