<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-xw-12 col-sm-12 col-md-12 col-lg-12" style="color:rgba(36, 103, 131, 0.96)" id="footer">
                        <p>Copyright &copy || 2017</p>
                        <a class="link" href="/" style="position:relative;top:-11px;text-decoration:none">Medix</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
