<title><%= title %></title>
<body>
    <div class="container" style="color:rgba(11, 98, 135, 0.96);text-align:center">
        <div class="row" style="margin-left:35%;height:100px;width:400px;margin-top:7%">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <a href="/"><img src="/img/1st.png" height="120%"></a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 com-lg-6">
                <h2>
                    <%= text %><br>
                    Stay Connected.
                </h2>
            </div>
            <p style="text-align:center">
                <a href="/" style="text-decoration:none;color: rgba(11, 98, 135, 0.96)"> Back To Homepage</a>
            </p>
        </div>
    </div>
</body>